body {
    font-family: Arial, sans-serif;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

table {
    table-layout: fixed;
    min-width: 300px;
    max-width: 400px;
}

td {
    text-align: center;
}

table tr {
    height: 50px;
}

#year  {
    width: 6em;
    margin: 0 auto;
}