body {
    font-family: Arial, sans-serif;
}

fieldset {
    width: 10em;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

table {
    table-layout: fixed;
    min-width: 300px;
    max-width: 400px;
}

td {
    text-align: center;
}

table tr {
    height: 50px;
}